.nav-pills .nav-link.active {
    background-color: #00A750 !important;
}

.nav-pills .nav-link.delete-account {
    color: red !important;
}

.btn{
    background-color: #00A750;
    color: white;
    border-radius: 0.6rem;
}

.btn:hover{
    background-color: #47FF9F;
    color: black;
    border-radius: 0.6rem;
}

.btn.red {
    background-color: red;
}

.nav-link {
    position: relative;
    transition: all 0.3s ease-in-out;
}

.nav-link::before {
    content: "";
    position: absolute;
    top: -.25px; /* Extends beyond the link */
    left: -.5px;
    right: -.5px;
    bottom: -.25px;
    background-color: rgba(128, 128, 128, 0.2); /* Light gray */
    z-index: -1; /* Places it behind the link */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 1rem;
}

.nav-link:hover::before {
    opacity: 1;
}

td {
    text-align: center; 
    vertical-align: middle !important;
}

/* Chat bubble styles */
.chat-bubble {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    margin-bottom: 10px;
    max-width: 75%;
}

.chat-bubble.sent {
    background-color: #d1e7dd;
}

.chat-bubble.received {
    background-color: #f8d7da;
}

/* Scrollable chat area */
.chat-area {
    height: 400px;
    overflow-y: auto;
    padding: 15px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 5px;
}