.nav-pills .nav-link.active {
    background-color: #00A750 !important;
}

.nav-pills .nav-link.delete-account {
    color: red !important;
}

.btn{
    background-color: #00A750;
    color: white;
    border-radius: 0.6rem;
}

.btn:hover{
    background-color: #47FF9F;
    color: black;
    border-radius: 0.6rem;
}

.nav-link {
    position: relative;
    transition: all 0.3s ease-in-out;
}

.nav-link::before {
    content: "";
    position: absolute;
    top: -.25px; /* Extends beyond the link */
    left: -.5px;
    right: -.5px;
    bottom: -.25px;
    background-color: rgba(128, 128, 128, 0.2); /* Light gray */
    z-index: -1; /* Places it behind the link */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 1rem;
}

.nav-link:hover::before {
    opacity: 1;
}